extends ../layout

block content
  h1.mb-4 Пользователи

  if users && users.length > 0
    table.table.table-striped
      thead
        tr
          th ID
          th Полное имя
          th Email
          if user
            th Действия
      tbody
        each userItem in users
          tr
            td= userItem.id
            td #{userItem.firstName} #{userItem.lastName}
            td= userItem.email
            if user && user.id === userItem.id
              td
                a.btn.btn-sm.btn-primary(href=`/users/${userItem.id}/edit`) Изменить
                form.d-inline(action=`/users/${userItem.id}/delete` method='POST')
                  button.btn.btn-sm.btn-danger.ms-2(type='submit' onclick='return confirm("Вы уверены?")') Удалить
  else
    p.text-muted Пользователи отсутствуют
